* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  line-height: 30px;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}
header h1 {
  margin-top: 50px;
}

.iconos {
  padding: 10px;
}
.iconos:hover {
  transform: scale(1.5);
  transition: 1s;
}

h2 {
  text-align: center;
  font: bold;
  margin-top: 30px;
  font-size: 3rem;
  -webkit-animation: fadeIn 3s ease;
          animation: fadeIn 3s ease;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

/* estilo body grid */
body {
  background-color: black;
  font: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
  /* GRID */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto 150px;
  grid-template-areas: "header" "main" "footer";
}

main {
  background-color: black;
  font: bold;
  color: antiquewhite;
}

.index__nav {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: antiquewhite;
}

nav {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  color: antiquewhite;
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.8;
}
nav a:hover {
  background: linear-gradient(rgb(53, 52, 52), rgb(44, 42, 2), rgb(53, 52, 52));
  cursor: pointer;
  border-radius: 90%;
  transition: 1s;
  opacity: 1;
  color: antiquewhite;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

/* estilo footer */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
  font-size: large;
  text-align: center;
}
footer a:hover {
  transform: scale(1.2);
  transition: 1s;
  color: antiquewhite;
}

/* css de Bio */
.bio {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.bioo {
  display: flex;
  justify-content: center;
}
.bioo img {
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
}

.aboutme {
  display: flex;
  text-align: center justify;
  line-height: 1.5rem;
  padding: 50px;
}

.passions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  padding: 25px;
}
.passions h3 {
  font-size: 1.5rem;
  padding: 10px;
  align-items: flex-start;
}
.passions ul {
  list-style: none;
}

.gallery {
  width: 98%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -5px;
}

.gallery__li {
  color: antiquewhite;
  font-size: x-large;
}
.gallery__li:hover {
  color: antiquewhite;
}

.gallery__ul li a {
  color: antiquewhite;
  font-size: large;
}

.gallery__photos2 {
  text-align: center;
}
.gallery__photos2 h4 {
  font-size: 1.5rem;
}

.gallery__photos {
  display: flex;
  opacity: 0.8;
}
.gallery__photos img {
  display: flex;
  width: 20%;
  justify-content: center;
  width: 98%;
  margin: 20px;
  padding: 5px;
  border: solid rgb(111, 106, 91) 2px;
}
.gallery__photos img:hover {
  transform: scale(1.05);
  transition: all 2s;
  opacity: 1;
}

.gallery__receipe {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 1.2rem;
}
.gallery__receipe fieldset table {
  padding: 10px;
  text-align: center;
}

.gallery__video {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery__video video {
  border: solid rgb(111, 106, 91) 2px;
  padding: 5px;
  width: 70%;
}
.gallery__video h2 {
  margin-bottom: 40px;
}

.music__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.music__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  text-align: center;
}
.music__img:hover {
  transform: scale(1.05);
  transition: all 2s;
  opacity: 1;
}
.music__img img {
  width: 99%;
  margin: 20px;
  padding: 5px;
  border: solid rgb(88, 34, 20) 2px;
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
  justify-content: center;
}

.music__description {
  display: flex;
  justify-content: center;
  padding: 30px;
  line-height: 1.5rem;
  font-size: medium;
  text-align: center;
}

.music__video1 {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 40px;
}

/* css de contact */
.contact {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  justify-content: center;
}
.contact fieldset {
  padding: 10px;
}

/* grids */
@media only screen and (max-width: 780px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 20px;
  }
  .music__gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 20px;
    width: 100%;
  }
  .music__img {
    display: flex;
    justify-content: center;
  }
  .music__img img {
    width: 98%;
    margin: 20px;
    padding: 5px;
    border: solid rgb(111, 106, 91) 1px;
    -o-object-fit: cover;
       object-fit: cover;
    align-items: center;
  }
}