// ---------------- CSS DE MUSIC BIO ---------------- //


.bio__main{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
.bio__img{
    display: flex;
    justify-content: center;
}
.bio__text{
    display: flex;
    flex-direction: column;
    text-align: center justify;
    line-height: 1.5rem;
    padding:0px 50px 0px 50px;
    font-size: 1rem;
    margin-top: 50px;
}
.bio__text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
    padding: 25px;
    h3{
        font-size: 1.5rem;
        padding: 10px;
        align-items: flex-start;
    }
    ul{
        list-style: none;
        li{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        font-size: 1.2rem;
        }
}
}