/* estilo body grid */

body{
    background-color: $bg;
    font: bold;
    font-family: $ff;
    color: $colorletras;

       /* GRID */

       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 200px auto 150px;
       grid-template-areas: 
       "header"
       "main"
       "footer";
}