/* estilo footer */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    font-family: $ff;
    color: $colorletras;
    font-size: large;
    text-align: center;
    position: static;

    a:hover{
        transform: scale(1.2);
        transition: 1s;
        color: $colorletras;
}

}
.footer__links{
    padding: 10px;
    &:hover{
        transform: scale(1.5);
        transition: 1s;
    }
}

