/* estilo del main + nav + a */

main {
    background-color: #000000;
font: bold;
color: $colorletras;
}

.navindex{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $colorletras;  
}

nav{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a{
    color: $colorletras;
    font-size: x-large;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.8;

}
nav a:hover{
    background: linear-gradient(rgb(53, 52, 52),rgb(44, 42, 2),rgb(53, 52, 52));
    cursor: pointer;
    border-radius: 90%;
    transition: 1s;
    opacity: 1;
    color: $colorletras;
}

a{
    color: $colorletras;
    text-decoration: none;
}

