// ---------------- CSS DE MUSIC GALLERY ---------------- //


.music__gallery {
    @include gallery;
    line-height: 1.5rem;
    font-size: larger;
}
 
// ---------------- CSS DE MUSIC IMG ---------------- //

.music__photos {
    @include gallery-photos;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img{
        border: $border2;
    }

}

// ---------------- CSS DE MUSIC VIDEO ---------------- //

.music__video1{
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;
        top: 40px; 
}